/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-May-2019, 13:37:04
    Author     : agloi
*/
.body{
    background:#AFEEEE;
}
h1{ font-size: 30px;margin-left: 420px;
    color:blue;
}
h2{ font-size: 24px;margin-left: 220px;
    color:blue;
}
.invalid{
    border: 1px solid #f60;
}
.colorBack{margin-left: 100px;
    background-color: azure;
    
}
button {border-radius: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
select {background-color:yellow; height: 30px; 
   width: 240px;}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="text"] {
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff !important; 
   outline: none; 
   height: 24px; 
   width: 240px; 
   color: #cccccc; 
   font-size: 18px; 
   font-family: Tahoma; 
   margin-left: 105px;
   padding-left: 40px;
}
form{font-size: 17px;color: blueviolet;
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding-left: 40px;
  padding: 30px 55px;
  background-color: azure;
  border-radius: 40px;
  margin: 10px 0 0 50px;
  left: 20%;
  margin-top: 100px;
}


