/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.11.2018, 16:58:28
    Author     : jvm
*/
h1{
    color:blue;
}
.invalid{
    border: 1px solid #f60;
}
.colorBack{
   font-size: 20px;color: blue;
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding-left: 40px;
  padding: 30px 55px;
  background-color: #FFEBCD;
  border-radius: 40px;
  margin: 10px 0 0 50px;
  left: 20%;
  margin-top: 100px;
  margin-left: 50px;
}

